body{
  margin: 0;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  /*margin: 50px auto 0 auto;*/
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr {
    display: block;
    border-top-width: 5px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: dotted;
    color:#EAF6F6;
    width: 4%;

  }
p{
  line-height: 2;
}
a{
  color:#11999E;
  text-decoration: none;
  padding-left: 5px;
}
a:hover{
  color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  }

.btn:hover {
  background: #30e3cb;
  }
.underln{
  text-decoration: underline;
}
  .top_cloud
  {
    position: absolute;
    right: 300px;
    top: 40px;

  }

.middlecont{
  margin-top: 50px;
}
  .bottom_cloud
  {
position: absolute;
left: 250px;
  bottom: 300px;
  }

  .frnt_pg{
    padding-top:150px;
    text-align:center;
    background-color:#EAF6F6;
width: 100%;
      position: relative;
  }
  .profilepic
  {
  border-radius: 50%;
  height:200px;
  width:200px;
  }

  .datastgimg
  {
    width:200px;
    height:200px;
    border-radius:50%;

  }
  .datastgimg1
  {
    width:200px;
    height:200px;
    border-radius:50%;

    }

.intro{
  width:30%;
    margin: auto;
}
.profilepic1{
  text-align: center;
}

.skillsec
{text-align: center;
  margin:100px auto auto auto;
width:50%;}

.datastgimg{
  float: left;
}

.datastgimg1{
  float: right;
}

.bottomcont{
  text-align: center;
  padding-bottom: 30px;
  width: 60%;
  margin:100px auto auto auto;
}
.cont2{
padding-top: 50px;
  padding-bottom: 50px;
}
.cont3{
  padding-top: 50px;
  padding-bottom: 50px;
}

.footersec1{
  text-align: center;
  background-color: #66BFBF;
  padding-top: 20px;
}
